*{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.menulist {
  display: flex;
  justify-content: end;
}

.menulist > li {
  margin: 30px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;

}

.menulist > li:hover {
  border-bottom: 3px solid yellowgreen;
}